/** Preloader **/
#loading {
  width: 100%;
  height: 100%;
  background: url("../images/preloader.gif") center no-repeat #111;
  position: fixed;
  z-index: 100;
}

/** Fonts **/
@font-face {
  font-family: "OpenSans-CondBold";
  src: url("../fonts/OpenSans-CondBold.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans-Light";
  src: url("../fonts/JosefinSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans-Thin";
  src: url("../fonts/JosefinSans-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans-Regular";
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "";
  src: url("../fonts/JosefinSans-SemiBold.otf") format("otf");
}

/* Global Styles */
html,
body {
  /* width: 100%; */
  height: 100%;
}

body {
  font: 18px/1.5 "JosefinSans-Regular", sans-serif; /* 1.2em */
  overflow-x: hidden;
}

.mgb40 {
  margin-bottom: 40px !important;
}

/** Overidding Bootstrap **/
ol,
ul {
  margin: 0;
  padding: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: 0px;
  border: none;
}

.btn {
  line-height: 1.42857143 !important;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vertical-center h1,
ul.home-section-links li span,
ul.home-section-links > li > a {
  font-family: "JosefinSans-Thin", sans-serif;
}

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 6.5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

/* Custom Button Styles */
.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
  border-radius: 3px;
  color: #333;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.4s 0.2s ease-in, color 0.4s 0.2s ease-in;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Full page nav  */
.menu-icon-wrap {
  background-color: rgb(0 0 0 / 20%);
  width: 45px;
  height: 45px;
  position: fixed;
  z-index: 2;
  left: 50px;
  top: 30px;
}
.menu-icon {
  height: 45px;
  width: 45px;
  position: fixed;
  z-index: 2;
  left: 50px;
  top: 30px;
  cursor: pointer;
  padding: 15px 8px 0;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  margin-bottom: 4px;
  transition: transform 0.2s ease, background-color 0.5s ease;
}
.menu-icon__line-left {
  width: 15px;
}
.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 1;
}
.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}
.nav:after {
  background: white;
  transition-delay: 0s;
}
.nav:before {
  transition-delay: 0.1s;
}
.nav__content {
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  cursor: pointer;
  visibility: hidden;
}
.nav__list-item {
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-right: 2rem;
}
.nav__list-item:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 1px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}
.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .nav__content {
  visibility: visible;
}
body.nav-active .menu-icon__line {
  background-color: #000;
  transform: translateX(-1px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  transform: translateX(0) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before,
body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}
body.nav-active .nav:after {
  transition-delay: 0.1s;
}
body.nav-active .nav:before {
  transition-delay: 0s;
}
body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
}
body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}
body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
}
body.nav-active .nav__list-item:nth-child(5) {
  transition-delay: 1s;
}

/* Header */
.hero {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/bg-img.jpg) no-repeat center center scroll;
  background-size: cover;
}

/* ui developer*/
box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#uidev {
  font-family: "OpenSans-CondBold", sans-serif;
  font-weight: 700;
  font-size: 100%;
  /* width: auto; */
}

.cover {
  color: #7f8c8d;
  padding: 25px 0 0;
}

span {
  position: relative;
}

h2.stack {
  text-transform: uppercase;
  /* font-size: 6em; */
  font-size: 6.8rem;
  line-height: 0.7em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: middle;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  margin-left: 20px;
}

/* U */
.char1 {
  margin-left: -0.2em;
  z-index: 4;
  text-shadow: 0.05em 0.05em 0.2em rgba(10, 10, 10, 0.9);
}

/* I */
.char2 {
  z-index: 3;
  margin-left: -0.12em;
  top: 0.08em;
  text-shadow: -0.02em 0.02em 0.2em rgba(10, 10, 10, 0.9);
}

/* D */
.char3 {
  z-index: 9;
  margin-left: 0.2em;
  text-shadow: 0.05em 0.05em 0.2em rgba(10, 10, 10, 0.9);
}

/* E */
.char4 {
  z-index: 5;
  margin-left: -0.175em;
  text-shadow: 0.1em -0.1em 0.2em rgba(10, 10, 10, 0.9);
}

/* V */
.char5 {
  z-index: 2;
  margin-left: -0.125em;
  top: 0.08em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10, 10, 10, 0.9);
}

/* E */
.char6 {
  z-index: 10;
  margin-left: -0.125em;
  top: -0.04em;
  text-shadow: 0.02em 0em 0.14em rgba(10, 10, 10, 0.9);
}

/* L */
.char7 {
  z-index: 8;
  margin-left: -0.16em;
  top: 0em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10, 10, 10, 0.9);
}

/* O */
.char8 {
  z-index: 6;
  margin-left: -0.135em;
  top: -0.05em;
  text-shadow: 0.02em -0.01em 0.2em rgba(10, 10, 10, 0.9);
}

/* P */
.char9 {
  z-index: 7;
  margin-left: -0.13em;
  top: 0em;
  text-shadow: 0.04em -0.03em 0.3em rgba(10, 10, 10, 0.9);
}

/* E */
.char10 {
  z-index: 1;
  margin-left: -0.15em;
  top: 0em;
  text-shadow: 0.05em -0.05em 0.2em rgba(10, 10, 10, 0.9);
}

/* R */
.char11 {
  z-index: 0;
  top: -0.04em;
  margin-left: -0.125em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10, 10, 10, 0.9);
}

/* Main Page Animations */
@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bounceInRight {
  animation-name: bounceInRight;
}

.flipCustomh2 {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 0.2s;
}

.bounceCustomh1 {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 0.8s;
}

.bounceCustomUl1,
.bounceCustomUl2 {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 1.5s;
}
/* Main Page Animations end*/

div.intro {
  padding: 0 10px 10px;
  color: #fff;
  font-weight: 500;
  font-size: 0.98rem;
  font-family: "JosefinSans-Light";
  display: table;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 0.9s;
}

div.intro p {
  display: table-cell;
  opacity: 0.95;
}

@media only screen and (max-width: 350px) {
  div.intro {
    font-size: 16px;
    line-height: 1.6;
  }

  div.intro i {
    top: -1px;
    line-height: 1.6;
  }
}

div.intro a {
  position: relative;
  color: #fff;
  font-weight: 700;
  /* font-style: italic; */
  text-decoration: underline;
}

/* About */
.about {
  padding: 50px 0;
  line-height: 1.8;
  /*background-color: #b9b9b9;*/
  color: #111;
}

h2.lines {
  text-align: center;
  font-size: 0.75rem;
  color: #a9a255;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 900;
}

h2.lines:before,
h2.lines:after {
  display: inline-block;
  content: "";
  border-top: 0.1em solid #999;
  width: 37px; /* 41px */
  margin: 0 0.55em;
  transform: translateY(-5px);
}

.subtitle {
  font-family: "Calluna-Regular", serif;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 1.72rem;
}

ul#about-list {
  padding: 0 0 0 2rem;
  line-height: 2;
}

ul#about-list li,
ul#tool-list li {
  list-style: none;
}

ul#about-list li:before {
  background: #7b7554;
  border-radius: 8px;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: -15px;
  margin-top: 13px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

ul#about-list li:hover:before {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  margin-left: -17px;
}

/* Skills */
.skills {
  padding: 50px 0 0;
  background-color: #111;
  color: #fff;
}
.skills .section-left,
.skills .section-right {
  margin-bottom: 50px;
}

h2.blue {
  color: #7e8ebb;
}

ul#tool-list {
  padding: 0 0 0 2rem;
  line-height: 2;
}

ul#tool-list li:before {
  background: #7e8ebb;
  border-radius: 8px;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: -15px;
  margin-top: 13px;
  position: absolute;
  content: "";
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

ul#tool-list li:hover:before {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  margin-left: -17px;
}

.service-item {
  margin-bottom: 30px;
}

/* History */
.history {
  padding: 50px 0;
}

h3.credentials {
  margin-bottom: 1.1rem;
  color: #05070c;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  position: relative;
}

h3.credentials::before {
  content: "";
  display: block;
  height: 30px;
  width: 4.4rem;
  position: absolute;
  top: 50%;
  left: -4px;
  margin-top: -2px;
  border-bottom: 0.06em solid #ccc;
}

.history h3.subtitle {
  margin-bottom: 2.2rem;
}

span.ml3 {
  margin-left: 3px;
}

.exp-head h3 a {
  color: #000;
  transition: color 0.4s 0.1s ease-in-out;
}

.exp-head h3 a:hover,
.exp-head h3 a:focus {
  /* color: #a9a255; */
}

.exp-wrap {
  position: relative;
  text-align: left;
  margin-bottom: 5rem;
}

.exp-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  left: 4rem;
  top: 0;
}

.exp {
  position: relative;
  padding-left: 4.8rem;
  margin-bottom: 2.2rem;
}

.exp-icon,
.timeline-icon {
  height: 3.1rem;
  width: 3.5rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  overflow: hidden;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 12.5px;
  margin-left: -2rem;
  -webkit-transition: all 1s 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.exp-icon,
.timeline-icon {
  -webkit-transform: scale(1);
  transform: scale(1);
}

i.fa-mine:before {
  font-size: 2.3em;
  background: #252324;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
}

.exp-head h3 {
  font-size: 1.55rem;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
}

.exp .exp-head h4,
.timeline-block .exp-head h4 {
  font-size: 1.16rem;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.25;
  color: #111;
}

.timeline-wrap {
  position: relative;
  text-align: left;
}

.timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  left: 4.1rem;
  top: 0;
}

.timeline-block {
  position: relative;
  padding-left: 4.85rem;
  margin-bottom: 3rem;
}

.timeline-block.sht {
  margin-bottom: 2.2rem;
}

.time-frame {
  font-size: 0.9rem;
  color: #a9a255;
  margin-bottom: 0;
  line-height: 1.5;
  font-style: italic;
}

#resume {
  background-color: #7c7c7c;
  color: #fff;
  font-weight: 900;
  padding: 10px 40px 5px;
  font-size: 16px;
  border-radius: 3px;
  transition: background-color 0.4s 0.1s ease-in, color 0.4s 0.1s ease-in;
}

a#resume i {
  font-size: 25px;
}

/* Portfolio */
.portfolio {
  padding: 50px 0 70px;
  background-color: #111;
  color: #fff;
  position: relative;
}

.portfolio .quick-links {
  position: fixed;
  right: -3rem;
  transform: rotate(90deg);
  z-index: 99;
  width: 11rem;
  top: 40%;
}
.portfolio .quick-links span {
  font-size: 0.88rem;
  color: #fff;
  opacity: 0.65;
  cursor: pointer;
  padding: 0.2rem 0.29rem;
  letter-spacing: 0.08rem;
}
.portfolio .quick-links span.active {
  opacity: 1;
}
.portfolio .quick-links .highlight {
  background: rgb(126 142 187 / 50%);
  height: 26px;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.16s all 0.025s;
  width: 100%;
}

#works-category-blks {
  margin-bottom: 1rem;
  position: relative;
}
#works-category-blks a {
  display: inline-block;
  margin-right: 0.5rem;

  font-size: 0.92rem;
  color: #decece;
  letter-spacing: 0.05rem;
  opacity: 0.75;
}
#works-category-blks a:last-child {
  margin-right: unset;
}
#works-category-blks .slide-line {
  background: #7e8ebb;
  height: 1px;
  position: absolute;
  bottom: 0;
  transition: 0.16s all 0.025s;
}
#works-category-blks a.active {
  color: #fefefe;
  opacity: 1;
}

.portfolio .block-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.portfolio .block-wrap#webapps-wrap {
  grid-template-columns: repeat(2, 1fr);
}

.portfolio .block-wrap .blk-item {
  /* background-color: #2d3748; */
  background-color: #363636;
  min-height: 11rem;
  max-height: 11rem;
  border-radius: 1px;
  position: relative;
  padding: 1.25rem;
  text-align: left;

  /* filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.6s ease-in-out; */
}
.portfolio .block-wrap .blk-item.web-app {
  max-height: unset;
}

.portfolio .block-wrap .blk-item .ext-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #545454;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  color: #dfd2d2;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.portfolio .block-wrap .blk-item .ext-link i {
  position: absolute;
  top: 8px;
  right: 6px;
  font-size: 1rem;
}
.portfolio .block-wrap .blk-item .ext-link:hover {
  background-color: #fefefe;
  color: #05070c;
}

.portfolio .block-wrap .blk-item .top-blk h4 {
  font-size: 1.3rem;
  margin-bottom: 0.62rem;
  font-weight: 500;
}
.portfolio .block-wrap .blk-item .top-blk p {
  margin-bottom: 0;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.portfolio .block-wrap .blk-item .top-blk p.description {
  margin-bottom: 4rem;
  font-size: 0.94rem;
  letter-spacing: 0.02rem;
  text-transform: unset;
}
.portfolio .block-wrap .blk-item .btm-blk {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 1.25rem 1.25rem;
}
.portfolio .block-wrap .blk-item .btm-blk span {
  font-size: 0.85rem;
  display: inline-block;
  line-height: 1;
  letter-spacing: 0.03rem;
  background-color: #545454;
  padding: 0.28rem;
  margin-right: 0.3rem;
}

.portfolio .block-wrap .blk-item:hover {
  /* filter: none;
  -webkit-filter: grayscale(0); */
}

.portfolio .vk-info-wrap {
  width: 150px;
  margin: 3em auto 0.5em;
}
.portfolio .vk-info-wrap img {
  width: 100%;
}
.portfolio .block-wrap .blk-item.web-app {
  cursor: default;
}
/******************** end ****************/

/* flipInX  portfolio*/
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

.fadeSlow {
  -webkit-animation-duration: 3s !important;
  -webkit-animation-delay: 0.3s;
}

.display {
  display: none;
}

/* Contact */
.contact {
  padding: 50px 0;
  background-color: #111;
  color: #fff;
}

.form-control {
  color: #eee;
  background-color: #111;
  border: 1px solid #7e8ebb;
}

.btn-custom {
  color: #fff;
  background-color: #2e6da4;
  font-weight: 600;
  padding: 10px 30px 8px;
  border: none;
  font-size: 16px;
  transition: background-color 0.4s 0.1s ease-in, color 0.4s 0.1s ease-in;
}

textarea {
  resize: none;
}

/*Overidding Bootstrap Styles*/
.btn.focus,
.btn:focus,
.btn:hover,
#btn-hire:hover,
#resume:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.mgt25 {
  margin-top: 25px;
}

/** Button Animation **/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-20px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(20px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

/* Footer */
footer {
  padding: 60px 0 30px;
}

#mailid {
  font-size: 1.22rem;
  color: #111;
  margin-bottom: 8px;
  display: block;
}

#social {
  margin-bottom: 40px !important;
  list-style: none;
}

#social > li {
  display: inline-block;
}
#social > li > a {
  color: #a9a255;
  transition: all 0.3s 0.1s ease-in-out;
}

#social > li > a:hover {
  color: rgba(0, 0, 0, 0.8);
}

#to-top {
  display: none;
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 5px;
  right: 5px;
  padding: 0.3rem 0.5rem;
  border-radius: 1px;
  border: none !important;
  z-index: 9999;
}
#to-top img {
  width: 100%;
}

/** home page navigation **/
.home-links {
  margin: 85px auto 0; /* 132px */
  max-width: 850px;
}

.home-section-links li {
  list-style-type: none;
}

ul.home-section-links li {
  float: left;
}

.fl-right {
  float: right;
}

ul.home-section-links li span {
  font-size: 0.8rem;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a9a255;
}

ul.home-section-links > li > a {
  position: relative;
  top: 2px;
  display: inline-block;
  outline: none;
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.95);
}

ul.home-section-links > li:nth-child(odd) {
  margin-right: 28px;
}

/**** Bracket Animation ****/
ul.home-section-links > li > a {
  font-size: 1.35rem;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

/* Effect 1: Brackets */
ul.cl-effect-1 > li > a::before,
ul.cl-effect-1 > li > a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

ul.cl-effect-1 > li > a::before {
  margin-right: 2px;
  content: "[";
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  transform: translateX(5px);
}

ul.cl-effect-1 > li > a::after {
  margin-left: 2px;
  content: "]";
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  transform: translateX(-5px);
}

ul.cl-effect-1 > li > a:hover::before,
ul.cl-effect-1 > li > a:hover::after,
ul.cl-effect-1 > li > a:focus::before,
ul.cl-effect-1 > li > a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/**** Bracket Animation End***/

/*** Mouse Animation ***/
.mouse {
  display: block;
  margin: 4px auto 0 auto;
  width: 22px;
  height: 42px;
  border-radius: 25px;
  border: 2px solid #fff;
  position: absolute;
  left: 50.25%;
  opacity: 0.6;
  cursor: pointer;
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
/*** end ***/

/**** Arrow Animation *****/
div.scroll-down {
  position: relative;
  width: 100%;
}

.scroll-down span {
  position: absolute;
  top: 90%;
  left: 50.25%;
  z-index: 2;
  width: 20px;
  height: 20px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/**** end ****/

/*** Progress Bars ****/
.progress-title {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}
.progress {
  height: 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}
.progress .progress-bar {
  box-shadow: none;
  position: relative;
  overflow: unset;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}

.progress .progress-bar:after {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-bottom: 14px solid transparent;
  position: absolute;
  top: -16px;
  right: -12px;
  border-bottom-color: #7e8ebb;
  opacity: 0;
}

.progress .progress-value {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: -24px;
  right: 0;
  opacity: 0;
}

.progress .progress-bar:after,
.progress .progress-value {
  transition: opacity 0.4s 0.2s ease-in;
}

.progress:hover .progress-value,
.progress.blue:hover .progress-bar:after {
  opacity: 1;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}
/**** end ***/

/*======= MEDIA QUIRES =======
============================*/
@media only screen and (max-width: 1200px) {
  .portfolio .block-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio .quick-links {
    right: -4rem;
  }
}

@media only screen and (max-width: 992px) {
  .portfolio .block-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .block-wrap#webapps-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .text-vertical-center h1 {
    font-size: 2.29em;
    font-family: "JosefinSans-Light", sans-serif;
  }

  a.pad-sm {
    padding: 6px 12px 3px;
    font-size: 18px;
  }

  .toggle {
    margin: 10px 10px 0 0;
  }

  #to-top {
    bottom: 10px;
    right: 10px;
  }

  .about p {
    margin-bottom: 50px;
    line-height: 1.52;
  }

  ul#about-list,
  ul#tool-list {
    padding: 0 0 0 1rem;
  }

  ul#about-list li,
  ul#tool-list li {
    margin-bottom: 0.85rem;
  }
  ul#about-list li:last-child,
  ul#tool-list li:last-child {
    margin-bottom: 0;
  }

  ul#about-list li,
  ul#tool-list li {
    line-height: 1.52;
  }

  .mgb80 {
    margin-bottom: 80px;
  }

  .view p {
    padding: 10px 16px 10px;
  }

  #btn-hire {
    padding: 10px 16px 8px;
    cursor: default;
  }

  .btn-custom {
    padding: 10px 30px 7px;
  }

  h2.stack {
    /* ui */
    font-size: 2.5em;
    line-height: 0.2em;
  }

  .cover {
    /* ui */
    padding: 0;
  }

  #uidev {
    margin: 1em auto 2.4em;
  }

  span.ml3 {
    margin-left: 0.11em;
  }

  ul#about-list li:before,
  ul#tool-list li:before {
    margin-top: 10px;
  }

  .timeline-block {
    margin-bottom: 2.2rem;
  }

  .skills .section-left {
    margin-bottom: 80px;
  }
  .skills .section-right {
    margin-bottom: 50px;
  }
  .skills .subtitle {
    margin: 0 0 20px 0 !important;
  }

  .portfolio .block-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .quick-links {
    right: -4.5rem;
  }

  .nav__content {
    left: 35vw;
    width: 6rem;
  }
  .nav__list-item {
    font-size: 2rem;
    display: block;
    text-align: left;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .menu-icon {
    left: 7px;
  }
  .menu-icon-wrap {
    left: 8px;
  }
}

/**** Landscape Mode ****/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .text-vertical-center {
    /*padding-top: 45px;*/
  }

  .text-vertical-center h1 {
    font-size: 2.8em;
  }

  h2.stack {
    font-size: 3em;
  }
}

/** Only for tablets */
@media only screen and (max-width: 768px) and (min-height: 1024px) {
  .text-vertical-center h1 {
    font-size: 4.4em;
    font-weight: 500;
  }

  h2.stack {
    font-size: 4.5em;
  }

  #uidev {
    margin: 2em auto 2.4em;
  }

  .home-links {
    max-width: 700px;
    margin: 154px auto 0;
  }
}

a.no-border {
  border: none !important;
}
